
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
@model List<StudentWithSchoolDto>

    <table class="table table-striped">
        <thead>
            <tr>
                <td>Id</td>
                <td>Name</td>
                <td>Surname</td>
                <td>School</td>  
                <td>CreatedDate</td>  
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.Surname</td>
                    <td>@item.School.Name</td>
                    <td>@item.CreatedDate</td>
                </tr>
            }

        </tbody>


    </table>
